.text-footer{
    color: #333333;
    text-decoration: none;
    transition: .5s;
    font-weight: 400;
}
.text-footer:hover{
    letter-spacing: 2px;
    transition: .5s;
    color: #333333;
    text-decoration: none;
}